build*
_build
build_xcode
lib
bin
.vs
stl
*.log
*.ttf
*.ps1
*.user
*.vcxproj
*.txt
./AnkerStudio/install_dir/
./AnkerStudio/build/
./AnkerStudio/build/*.*
./AnkerStudio/_build/
./AnkerStudio/_build/*.*
./AnkerStudio/build_xcode/
./AnkerStudio/build_xcode/*.*
.vscode
/AnkerStudio/GD_CA.crt
/AnkerStudio/api-ms-win-crt-runtime-l1-1-0.dll
/AnkerStudio/msvcp140_codecvt_ids.dll
/AnkerStudio/vcruntime140.dll
/AnkerStudio/vcruntime140_1.dll
/AnkerStudio/WebView2Loader.dll
/AnkerStudio/log
/AnkerStudio/make-us.crt
/AnkerStudio/make-us-qa.crt
/AnkerStudio/AnkerNet.dll
/AnkerStudio/ankermake_alpha.exe
/AnkerStudio/ankermake_alpha-console.exe
/AnkerStudio/anker-gcodeviewer.exe
/AnkerStudio/AnkerNet.lib
/AnkerStudio/swscale-6.dll
/AnkerStudio/swresample-4.dll
/AnkerStudio/PPCS_API.dll
/AnkerStudio/postproc-56.dll
/AnkerStudio/paho-mqtt3cs.dll
/AnkerStudio/paho-mqtt3as.dll
/AnkerStudio/OCCTWrapper.dll
/AnkerStudio/libssl-1_1-x64.dll
/AnkerStudio/libmpfr-4.dll
/AnkerStudio/libgmp-10.dll
/AnkerStudio/libcrypto-3-x64.dll
/AnkerStudio/libcrypto-1_1-x64.dll
/AnkerStudio/ccc.dll
/AnkerStudio/avutil-57.dll
/AnkerStudio/avformat-59.dll
/AnkerStudio/avfilter-8.dll
/AnkerStudio/avdevice-59.dll
/AnkerStudio/avcodec-59.dll
/AnkerStudio/AnkerStudio.dll
/AnkerStudio/AnkerMake_alpha.url
/AnkerStudio/uninst.exe
/AnkerStudio/dump
/AnkerStudio/CMakeSettings.json
/AnkerStudio/enc_temp_folder
